.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
  margin-top: 2rem;
  background-color: skyblue;
  border-radius: 5px;
  
}



body {
  background-color: lightgrey;
}

.nav-link {
  background-color: skyblue;
  font-size: 1.2rem;
  border : 2px solid blue;
  border-radius: 5px;
  width: 10rem;
  text-align: center;

}

.nav-link:hover {
  background-color: blue;

}


.nav-link:active {
  background-color: yellow;

}

Link {
  border : 2px solid black;
}


.punch {
  border: 2px solid yellow;
  border-radius: 50px;
  background-color: red;
  text-align: center;
  font-size: 4rem;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 10px 5px #888888;

}

.punch:hover {
  border: 3px solid red;
  border-radius: 50px;
  background-color: yellow;
  text-align: center;
  font-size: 4rem;
  padding: 12px 12px 12px 12px;

}

hr {
  border: 4px solid red;
  border-radius: 5px;
}

img {
  width: 15rem;
}